@import "bourbon"
@import "vars.sass"
@import "app/libs/reset-scss/reset.scss"
@import "app/libs/font-awesome/scss/font-awesome.scss"
@import "app/libs/animate/animate.sass"
@import "app/libs/owl.carousel/assets/owl.carousel"


*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
textarea
	outline: none
	overflow: auto
body
	font-size: 20px
	min-width: 320px
	position: relative
	font-family: "CenturyGothicRegular", sans-serif
	color: $black
	overflow-x: hidden
.top-header
	position: relative
	overflow-x: auto
.global-cont
	position: relative
	overflow: hidden
	padding-bottom: 60px
.top-menu
	width: 100%
	height: 60px
	line-height: 60px
	margin-top: 40px
	-webkit-font-smoothing: antialiased
	position: relative
	z-index: 999
.top-menu_cloned
	margin-top: -1px
	background-color: $black
	box-shadow: 0 -1px 7px lighten($black, 40%)
	transition: top 0.3s ease-in-out

.top-menu_cloned .top-menu__logo,
.top-menu_cloned .top-menu__nav-link
	color: $white
.top-menu_cloned .top-menu__nav-link_active
	color: $grey-text
.top-menu__logo
	font-family: "AlternateGothic", sans-serif
	line-height: 0.9
	font-size: 46px
	text-transform: uppercase
	text-decoration: none
	color: $black
	display: block
	position: absolute
	left: 100px
	bottom: 8px
	user-select: none
.top-menu__nav
	float: right
	margin-right: 100px
.top-menu__nav-item
	float: left
	margin-left: 63px
.top-menu__nav-link
	text-decoration: none
	color: $black
	transition: all 0.3s ease
.top-menu__nav-link:hover
	color: $grey-text
.top-menu__nav-link_active
	color: $grey-text
.top-menu__mobile_cloned
	overflow: auto
	width: 100%
	background-color: $black
	position: fixed
	height: 100vh
	top: 0
	bottom: 0
	z-index: 9999
	display: none
	.top-menu__nav-item
		display: block
		margin-left: 0
		text-align: center
		width: 100%
		border-bottom: 1px dotted lighten($black, 25%)
		.top-menu__nav-link
			color: $white
			display: block
			padding: 20px 0
			&:hover
				background-color: lighten($black, 10%)
.about-particle
	margin-top: -60px

.company-img
	padding-top: 70px
	position: relative
	max-width: 810px
	margin: auto
	user-select: none
	
.company-img__photo
	display: block
	margin: auto
	max-width: 100%
	height: auto
	padding: 0 20px
	box-sizing: border-box
.company-img__descr
	position: absolute
	text-transform: uppercase
	font-family: "Aspergit", sans-serif
	font-size: em(40px)
	color: lighten($black, 50%)
	font-weight: 100
.company-img__descr_left
	left: -70px
	bottom: 5%
.company-img__descr_right
	right: -93px
	bottom: 29%


.particles
	position: absolute
	width: 25%
	height: 100%
	z-index: -1
.particles_l
	top: -31%
	left: -13%
	padding-top: 10px
	transform: rotate(60deg)
.particles_r
	bottom: -17%
	right: -10%
	transform: rotate(10deg)

.footer
	min-height: 400px
	box-sizing: border-box
	@include linear-gradient($black, #3a3a3a)
	color: #fff
	text-align: center
	padding: 75px 20px 90px

.footer__company-descr
	font-family: "AlternateGothic", sans-serif
	font-size: 36px
	text-transform: uppercase
	margin-bottom: 130px
	line-height: 1.1
.footer__social
	margin-bottom: 72px
.footer__social-item
	color: #1a1a1a
	font-size: 30px
	display: inline-block
	width: 61px
	height: 61px
	border: 2px solid $white
	background-color: $white
	line-height: 65px
	border-radius: 10em
	margin: 0 20px
	transition: all 0.3s ease-in-out
.footer__social-item:hover
	color: $white
	background-color: transparent
#f_in
	margin-left: 2px
.footer__copyright
	text-transform: uppercase
	font-family: "Aparagita", serif
	font-size: 20px
	color: $grey-text
#google-map
	width: 100%
	height: 350px
	margin-bottom: 67px
#about-particle	
    background-color: rgba(0, 0, 0, 0.035)

#services-particle
	background-color: $black
.works-head
	background: #000000 url('../img/flowers.jpg') no-repeat center bottom
.works
	padding: 116px 20px
	&__lists
		max-width: 1200px
		width: 100%
		margin: auto
	&__list-item
		margin-bottom: 50px
		&:last-child
			margin-bottom: 0
	&__list-img
		max-width: 100%
.about-particle,
.services-particle,
.works-head,
.b-contacts
	height: 460px
	margin-top: -100px
	z-index: 0
	border-bottom: 1px solid lighten($black, 90%)
	position: relative
	&__title
		position: absolute
		top: 45%
		width: 100%
		text-align: center
		text-transform: uppercase
		font-size: 30px
		margin-top: 40px
		box-sizing: border-box
	.bg-canvas
		position: absolute
		top: 0
		height: 500px
.services-particle,
.works-head
	margin-top: 0
	height: 350px
	&__title
		color: $white
		margin-top: 0
.b-contacts
	height: 350px
	margin-top: -415px
	border-bottom: none
.services-wrapp
	position: relative

	padding: 150px 20px 70px
	box-sizing: border-box
	text-align: center
	width: 100%
	margin: auto
	height: auto
	.services
		margin: auto
		height: 100%
		height: 1100px
		position: relative
		max-width: 1030px
		z-index: 1
		background: url('../img/services.png') no-repeat center

		background-size: contain
	&::after
		content: ''
		position: absolute
		bottom: 0
		right: -155px
		width: 447px
		height: 435px
		background: #ffffff url('../img/infographics.jpg') no-repeat
		z-index: 0
.services__title
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	text-transform: uppercase
	font-size: 61px
	font-family: "SegoeUIBold", sans-serif
.services__lists
	list-style-type: decimal
	overflow: hidden
.services__list-item
	text-align: left
	position: absolute
	list-style-type: decimal
	font-family: "centuryGothicRegular", sans-serif
	font-size: 30px
	&:nth-of-type(1)
		top: 120px
		left: 50%
		transform: translateX(-40%)
	&:nth-of-type(2)
		top: 380px
		right: -2%
	&:nth-of-type(3)
		top: 700px
		right: 3%
	&:nth-of-type(4)
		top: 940px
		left: 50%
		transform: translateX(-40%)
	&:nth-of-type(5)
		top: 700px
		left: 3%
	&:nth-of-type(6)
		top: 380px
		left: 2%
.our-works-btn
	margin-top: 150px
	position: relative
	z-index: 1
.about-text
	font-family: "SegoeUILight", sans-serif
	font-size: 24px
	line-height: 36px
	max-width: 850px
	padding: 30px 20px
	margin: auto
	box-sizing: border-box
	&__important
		padding: 30px 0
		font-family: "SegoeUIRegular", sans-serif
		font-size: 36px
		line-height: 42px
	&__item
		font-size: 24px
		color: $aboutGreyText
		padding: 25px 0
	&__italic-quote
		font-family: "SegoeUIItalic", sans-serif
		font-size: 24px
		text-align: center
		padding: 45px 0
.partner-block
	max-width: 850px
	margin: auto
	width: 100%
	margin-bottom: 20px
	&__owl
		max-width: 850px
		padding: 0 70px
		box-sizing: border-box
		position: relative
		&:before
			content: ''
			position: absolute
			top: 0
			bottom: 0
			height: 100%
			left: 60px
			box-shadow: 3px 0 11px 16px #fff
			z-index: 9
		&:after
			content: ''
			position: absolute
			top: 0
			bottom: 0
			height: 100%
			right: 70px
			box-shadow: 3px 0 11px 16px #fff
			z-index: 9
		
	&__title
		font-family: "SegoeUILight", sans-serif
		font-size: 18px
		text-align: center
		line-height: 30px
		margin-bottom: 20px
	.owl-prev,
	.owl-next
		position: absolute

	.owl-prev
		background: url('../img/prev.png') no-repeat
		width: 14px
		height: 32px
		left: 20px
		top: calc(50% - 16px)
	.owl-next
		background: url('../img/next.png') no-repeat
		width: 14px
		height: 32px
		right: 20px
		top: calc(50% - 16px)
.our_services
	padding: 75px 0		
.button-wrapp
	width: 240px
	height: 60px
	border: 2px solid $black
	text-transform: uppercase
	margin: auto
	font-family: "CenturyGothicBold", sans-serif
	font-size: 20px
	line-height: 60px
	box-sizing: border-box
	text-align: center
	cursor: pointer
	overflow: hidden
	perspective: 500
	transform-style: preserve-3d
	
	.button
		transform: rotateX(0deg)
		transition: all 0.3s ease
		
		
		
	&:hover

		.button
			
			
			transform-origin:  center bottom
			transform: rotateX(90deg)
			transition: all 0.3s ease
			
		a
			transform: rotateX(0deg)
			margin-top: -60px
			transition: all 0.3s ease
	a
		margin-top: 0
		z-index: 9999
		display: block
		height: 100%
		line-height: 50px
		transform: rotateX(90deg)
		text-align: center
		color: $white
		background-color: $black
		text-decoration: none
		border: 2px solid $black
		box-sizing: border-box
		transform-origin: center top
		transition: all 0.3s ease







.contacts
	padding-top: 50px
.contacts__heading
	font-family: "Swis721", sans-serif
	text-transform: uppercase
	font-size: 36px
	text-align: center
	font-weight: 100
	line-height: 65px
	padding-bottom: 67px
.contacts__main-block
	max-width: 1336px
	width: 100%
	margin: auto
	overflow: hidden
.contacts__block-item
	float: left
	width: 27%
	margin: 0 3%
.contacts__block-item_full
	display: block
	width: 100%
	margin: auto
	margin-bottom: 75px
	margin-top: 45px
.contacts__info-title
	font-family: "CenturyGothicRegular", sans-serif
	text-transform: uppercase
	font-size: 24px
	border-bottom: 1px solid lighten($black, 15%)
	padding-bottom: 7px
	padding-left: 10px
.contacts__info-item
	padding-left: 10px
	font-family: "CenturyGothicRegular", sans-serif
	font-size: 20px
	margin: 16px 0
	line-height: 1.2
.contacts__info-item
	&>td
		padding: 12px 0
.contacts__info-item
	&>td:first-child
		padding-left: 11px
.contacts__info-item_tel
	td
		padding-top: 30px
.contacts__type
	font-family: "CenturyGothicBold", sans-serif
	padding-right: 30px
.contacts__block-item input,
.contacts__block-item textarea
	width: 100%
	border: 1px solid lighten($black, 70%)
	outline: none
	height: 40px
	line-height: 40px
	padding: 5px 10px
	box-sizing: border-box
	font-family: "Tahoma", sans-serif
	font-size: 20px
	color: $grey-text
.contacts__block-item input
	margin-bottom: 25px
.contacts__block-item #company_name
	margin-bottom: 0
.contacts__block-item textarea
	height: 216px
.contacts__block-item label
	display: block
	margin-bottom: 4px
	margin-left: 2px
	font-family: "Tahoma", sans-serif
	font-size: 20px
.contacts__main-form
	overflow: hidden
.contacts__form-button,
.contacts__form-button_layer
	display: block
	text-align: center
	overflow: hidden
	margin: auto
	width: 240px
	height: 60px
	line-height: 60px
	background-color: $black
	color: $white
	font-family: "CenturyGothicBold", sans-serif
	text-transform: uppercase
	font-size: 20px
	border: none
	outline: none
	cursor: pointer
	transform-origin: center bottom
.contacts__button-wrapp
	width: 240px
	height: 60px
	margin: auto
	overflow: hidden
	perspective: 500
	transform-style: preserve-3d
.contacts__form-button_layer
	transition: all 0.3s ease
	transform: rotateX(0deg)

.contacts__button-wrapp:hover
	.contacts__form-button_layer
		transform-origin: center top
		transition: all 0.3s ease
		transform: rotateX(90deg)
	.contacts__form-button
		transition: all 0.3s ease
		margin-top: -60px

.contacts__form-button

	margin-top: 0
	position: relative
	transition: all 0.3s ease
	line-height: 60px
	height: 60px
	box-sizing: border-box
	background-color: $white
	color: $black
	border: 2px solid $black
// mobile icon
.m-button
  width: 30px
  height: 20px
  position: absolute
  top: 20px
  right: 100px
  transform: rotate(0deg)
  transition: .5s ease-in-out
  cursor: pointer
  right: 100px
  bottom: 18px
  display: none
  z-index: 99999999

.m-button span
  display: block
  position: absolute
  height: 2px
  width: 100%
  background: $black
  border-radius: 9px
  opacity: 1
  left: 0
  transform: rotate(0deg)
  transition: .25s ease-in-out

.m-button
  span
    &:nth-child(1)
      top: 0px
    &:nth-child(2)
      top: 9px
    &:nth-child(3)
      top: 18px
  &.open span
    &:nth-child(1)
      top: 9px
      transform: rotate(135deg)
    &:nth-child(2)
      opacity: 0
      left: -60px
    &:nth-child(3)
      top: 9px
      transform: rotate(-135deg)
//end_mobile-icon
.large-char
	font-size: 50px
.medium-char
	font-size: 36px
.fixed
	position: fixed
.hidden
	display: none
.popup
	position: fixed
	transition: all 0.3s ease
	top: -100%
	left: 50%
	transform: translate(-50%, -50%)
	background-color: darken($white, 1%)
	max-width: 200px
	padding: 60px 80px
	z-index: 999999
	text-align: center
	border: 2px solid $black
	text-transform: uppercase
	font-family: "SegoeUIBold", sans-serif
	line-height: 30px
	padding-bottom: 140px
	&-error
		background: $white url("../img/worry.png") no-repeat center 90%
		background-size: 90px

	&-success
		background: $white url("../img/smile.png") no-repeat center 90%
		background-size: 90px
.popup-overlay
	background-color: $black
	position: fixed
	width: 100%
	top: 0
	bottom: 0
	z-index: 88888
	opacity: 0.8
//Custom Styles Here

//ALWAYS END
@import "media"
