doctype html
html(lang='ru')

    head
        meta(charset='utf-8')

        title ItCreativeLab
        meta(name='description', content='')
        meta(name='keywords', content='')

        meta(property="fb:app_id" content="")
        meta(property="og:type" content="website")
        link(rel="image_src", href="")
        meta(property="og:image", content="")
        meta(property="og:image:type", content="image/jpeg")
        meta(property="og:image:width", content="480")
        meta(property="og:site_name", content="")
        meta(property="og:url", content="")
        meta(property="og:title", content="")
        meta(property="og:description", content="")

        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='SKYPE_TOOLBAR', content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')

        
        link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    
    
        link(rel='stylesheet', href='css/fonts.min.css')
        link(rel='stylesheet', href='css/main.min.css')

    body
        header.top-header
            .top-menu
                a(href="/", target="_self", title="itcreativelab", class="top-menu__logo")
                    |itcreativelab
                nav.top-menu__nav
                    ul.top-menu__nav-list
                        li.top-menu__nav-item
                            a(href="about.html", target="_self").top-menu__nav-link
                                |About
                        li.top-menu__nav-item
                            a(href="services.html", target="_self").top-menu__nav-link
                                |Services
                        li.top-menu__nav-item
                            a(href="works.html", target="_self").top-menu__nav-link
                                |Works
                        li.top-menu__nav-item
                            a(href="contacts.html", target="_self").top-menu__nav-link.top-menu__nav-link_active
                                |Contacts
            .menu__mobile
                .top-menu__mobile-btn
                    .m-button
                        span
                        span
                        span
        #google-map(data-lat="53.902930", data-lng="27.598150")
        .b-contacts
            h1.b-contacts__title
                |Contact Us
        .contacts
            .contacts__heading
                h2
                    |Got a question?
                    br
                    |Get in touch.
            .contacts__main-block
                form(class="contacts__main-form")
                    .contacts__block-item
                        table.contacts__info-block
                            tr
                                td(colspan="2").contacts__info-title
                                    |Contact info
                            tr.contacts__info-item.contacts__info-item_tel
                                td
                                    span.contacts__type
                                        |Tel:
                                td
                                    |+375 29 555-55-55
                            tr.contacts__info-item
                                td
                                    span.contacts__type
                                        |E-mail:
                                td
                                    |itcreativelab@gmail.com
                            tr.contacts__info-item
                                td
                                    span.contacts__type
                                        |Skype:
                                td
                                    |itcreativelab
                            tr.contacts__info-item
                                td
                                    span.contacts__type
                                        |Address: 
                                td
                                    |Kozlova Ave, 29a 220000, Minsk

                    .contacts__block-item
                        .contacts__form-groups
                            .contacts__form_item
                                label(for="person_name")
                                    |Name*
                                input(type="text", required, maxlength="30", name="person_name", id="person_name")
                            .contacts__form_item
                                label(for="email")
                                    |E-mail*
                                input(type="text", required, maxlength="60", name="email", id="email")
                            .contacts__form_item
                                label(for="company_name")
                                    |Company Name
                                input(type="text", maxlength="60", name="company_name", id="company_name")


                    .contacts__block-item
                        .contacts__form_item

                            label(for="message")
                                |Message*
                            textarea(name="message", id="message" required)
                    .contacts__block-item.contacts__block-item_full
                        .contacts__button-wrapp
                            .contacts__form-button_layer
                                |Send message
                            button(type="submit", class="contacts__form-button")
                                |Send message
                               


        footer.footer
            .footer__company-descr
                |Creative company  in designing and development of sites
            .footer__social
                    a(href="#", target="_blank", class="footer__social-item")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="footer__social-item")
                        i.fa.fa-vk
                    a(href="#", target="_blank", class="footer__social-item")
                        i.fa.fa-linkedin#f_in
            .footer__copyright
                |&copy; 2016 ItCreativeLab

        <!--[if lt IE 9]>
        <script src="libs/html5shiv/es5-shim.min.js"></script>
        <script src="libs/html5shiv/html5shiv.min.js"></script>
        <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
        <script src="libs/respond/respond.min.js"></script>
        <![endif]-->
        
        script.
            var scr = {"scripts":[
            {"src" : "js/libs.js", "async" : false},
            {"src" : "js/common.js", "async" : false}
            ]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
