doctype html
html(lang='ru', prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")

    head
        meta(charset='utf-8')

        title ItCreativeLab
        meta(name='description', content='')
        meta(name='keywords', content='')

        //open graph 
        meta(property="fb:app_id" content="")
        meta(property="og:type" content="website")
        link(rel="image_src", href="img/og-duet.png")
        meta(property="og:image", content="img/og-duet.png")
        meta(property="og:image:type", content="image/jpeg")
        meta(property="og:image:width", content="480")
        meta(property="og:site_name", content="ItCreativeLab")
        meta(property="og:url", content="itcrativelab.by")
        meta(property="og:title", content="ItCreativeLab")
        meta(property="og:description", content="Наша Веб-студия занимается полным циклом работ по созданию сайтов: от проектирования до внедрения")

        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='SKYPE_TOOLBAR', content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')


        link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
        link(rel='manifest', href='img/favicon/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='img//ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')
    
        link(rel='stylesheet', href='css/fonts.min.css')
        link(rel='stylesheet', href='css/main.min.css')

    body
        header.top-header
            .top-menu
                a(href="/", target="_self", title="itcreativelab", class="top-menu__logo")
                    |itcreativelab
                nav.top-menu__nav
                    ul.top-menu__nav-list
                        li.top-menu__nav-item
                            a(href="about.html", target="_self").top-menu__nav-link
                                |About
                        li.top-menu__nav-item
                            a(href="services.html", target="_self").top-menu__nav-link.top-menu__nav-link_active
                                |Services
                        li.top-menu__nav-item
                            a(href="works.html", target="_self").top-menu__nav-link
                                |Works
                        li.top-menu__nav-item
                            a(href="contacts.html", target="_self").top-menu__nav-link
                                |Contacts
            .menu__mobile
                .top-menu__mobile-btn
                    .m-button
                        span
                        span
                        span
        .services-particle#services-particle
            h1.services-particle__title
                |Услуги
        .services-wrapp
            .services
                h2.services__title
                    |Интернет-
                    br
                    проект
                ol.services__lists
                    li.services__list-item
                        |Анализ
                    li.services__list-item
                        |Проектирование
                    li.services__list-item
                        |Разработка
                    li.services__list-item
                        |Внедрение
                    li.services__list-item
                        |Тестирование
                    li.services__list-item
                        |Поддержка
                           
            .our-works-btn
                .button-wrapp
                    .button
                        |Наши работы
                    a(href="works.html", class="our_works__button", target="_self")
                        |Наши работы


        footer.footer
            .footer__company-descr
                |Creative company  in designing and development of sites
            .footer__social
                    a(href="#", target="_blank", class="footer__social-item")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="footer__social-item")
                        i.fa.fa-vk
                    a(href="#", target="_blank", class="footer__social-item")
                        i.fa.fa-linkedin#f_in
            .footer__copyright
                |&copy; 2016 ItCreativeLab

        
        <!--[if lt IE 9]>
        <script src="libs/html5shiv/es5-shim.min.js"></script>
        <script src="libs/html5shiv/html5shiv.min.js"></script>
        <script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
        <script src="libs/respond/respond.min.js"></script>
        <![endif]-->
        
        script.
            var scr = {"scripts":[
            {"src" : "js/libs.js", "async" : false},
            {"src" : "js/common.js", "async" : false}
            ]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
