doctype html
html(lang='ru', prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")

    head
        meta(charset='utf-8')

        title ItCreativeLab
        meta(name='description', content='')
        meta(name='keywords', content='')

        //open graph 
        meta(property="fb:app_id" content="")
        meta(property="og:type" content="website")
        link(rel="image_src", href="img/og-duet.png")
        meta(property="og:image", content="img/og-duet.png")
        meta(property="og:image:type", content="image/jpeg")
        meta(property="og:image:width", content="480")
        meta(property="og:site_name", content="ItCreativeLab")
        meta(property="og:url", content="itcrativelab.by")
        meta(property="og:title", content="ItCreativeLab")
        meta(property="og:description", content="Наша Веб-студия занимается полным циклом работ по созданию сайтов: от проектирования до внедрения")

        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='SKYPE_TOOLBAR', content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')

        
        link(rel='apple-touch-icon', sizes='57x57', href='img/favicon/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='img/favicon/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='img/favicon/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='img/favicon/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='img/favicon/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='img/favicon/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='img/favicon/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='img/favicon/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='img/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='img/favicon/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='img/favicon/favicon-16x16.png')
        link(rel='manifest', href='img/favicon/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')

        meta(name='msapplication-navbutton-color', content='#ffffff')
        meta(name='msapplication-TileImage', content='img/favicon/ms-icon-144x144.png')
        meta(name='apple-mobile-web-app-status-bar-style', content='#ffffff')
        meta(name='theme-color', content='#ffffff')
    
        link(rel='stylesheet', href='css/fonts.min.css')
        link(rel='stylesheet', href='css/main.min.css')

    body
        #wrapp
           


            .main
                h1.main__title
                    |Creative company in designing and development of sites
                .main__img
                    span.main__img-des
                        |Design
                    span.main__img-dev
                        |Develop
                ul.main__services
                    li.main__services-item
                        |Анализ
                    li.main__services-item
                        |Проектирование
                    li.main__services-item
                        |Разработка
                    li.main__services-item
                        |Внедрение
                    li.main__services-item
                        |Тестирование
                    li.main__services-item
                        |Поддержка


            .sidebar
                .sidebar__logo
                    a(href="/", target="_self", class="sidebar__logo-link")
                        |Itcreativelab
                table.contacts
                    tr.contacts__item
                        td.contacts__type
                            |Тел:
                        td.contacts__info
                            |+375 29 555-55-55
                            br
                            |+375 17 111-00-00

                    tr.contacts__item
                        td.contacts__type
                            |E-mail:
                        td.contacts__info
                            |itcreativelab@gmail.com
                    tr.contacts__item
                        td.contacts__type
                            |Skype:
                        td.contacts__info
                            |itcreativelab
                    tr.contacts__item
                        td.contacts__type
                            |Адрес:
                        td.contacts__info
                            |Kozlova Ave, 29a 220000, Minsk
                .sidebar__copy
                    |&copy; 2016 itcreativelab.by
